target/META-INF/mule-src/aaa/src/main/mule/aaa.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8edaa48c-7fa3-4001-b268-b9cd474f8057" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="aaaFlow" doc:id="780903b3-08d4-4ea5-970a-0afc2e606fc8" >
		<http:listener doc:name="Listener" doc:id="53325f68-c239-4df1-a59a-c793eb915d38" config-ref="HTTP_Listener_config" path="/we"/>
		<set-payload value="payload" doc:name="Set Payload" doc:id="6c5d37bb-14fc-4c2c-a74f-1bf7401dc058" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="793d9de8-0d38-4d1b-b2cf-9fe9e563d4fc" />
	</flow>
</mule>
